{% extends 'base.html.twig' %}

{% block title %}
    Work App | Home
{% endblock %}
{% block body %}
    <div id="root"></div>
    {% if app.request.query.get('error') %}
        <div class="mt-4 dark:text-red-500 text-center">{{ app.request.query.get('error') }}</div>
    {% endif %}

    {% if pontaje and app.user %}
        <div class="rounded relative top-2">
            <div class="text-gray-400 text-center mb-2">Your last records at {{ app.user.company.name }}</div>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="text-center">
                    <th scope="col" class="px-6 py-3">
                        Day
                    </th>
                    <th scope="col" class="px-6 py-3">
                        From
                    </th>
                    <th scope="col" class="px-6 py-3">
                        To
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Worked Hours
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Details
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Company
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for pontaj in pontaje %}

                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeStart|date("D, d.M.Y") }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeStart|date("H:i") }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeEnd|date("H:i") }}
                        </td>

                        <td class="px-6 py-4">
                            {% set difference = date(pontaj.getTimeEnd).diff(date(pontaj.getTimeStart)) %}

                            {% if difference|date("%d") %}
                                {{ difference|date("%d") }} days  {{ difference|date("%h") }} hours {{ difference|date("%i") }} minutes
                            {% elseif not difference|date("%h") %}
                                {{ difference|date("%i") }} minutes
                            {% elseif not difference|date("%i") %}
                                {{ difference|date("%h") }} hours
                            {% else %}
                                {{ difference|date("%h") }} hours {{ difference|date("%i") }} minutes
                            {% endif %}
                        </td>

                        <td class="px-6 py-4">
                            {{ pontaj.details }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.company.name }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ path('app_pontaj_update', {id: pontaj.id}) }}"
                               class="text-blue-500 border-2 border-blue-600 rounded-lg px-2 py-1 mr-1">Modify</a>
                            <a href="{{ path('app_pontaj_delete', {id: pontaj.id}) }}"
                               class="text-red-500 border-2 border-red-600 rounded-lg px-2 py-1"
                               onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}