{% extends 'base.html.twig' %}

{% block title %}Concediile Tale{% endblock %}

{% block body %}

   {% if concedii %}

    <div class="flex flex-col">
     <div class="sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
       <div class="overflow-hidden rounded-lg">
        <table class="min-w-full bg-white">
         <thead class="border-b dark:bg-gray-600">
         <tr>

          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
           De la
          </th>

          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
           Pana la
          </th>

          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
           Status
          </th>

          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
           Detalii
          </th>

         </tr>
         </thead>
         <tbody>
         {% for concediu in concedii %}
          <tr class="border-b">

           <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{ concediu.getStartDate|date("d.M.Y")}}
           </td>

           <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {{ concediu.getEndDate|date("d.M.Y")}}
           </td>

           <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">

             {% if concediu.status == 'pending' %}
              <p>In asteptare</p>
             {% elseif concediu.status == 'approved' %}
              <p class="text-green-400">Aprobat</p>
              {% elseif concediu.status == 'denied' %}
              <p class="text-red-400">Respins</p>
              {% endif %}

           </td>

           <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            {% if concediu.status == 'denied' %}
            <a href="{{ path('app_concediu_new') }}" class="text-blue-600 hover:underline">Vizualizeaza</a>
            {% endif %}
           </td>

          </tr>
         {% endfor %}
         </tbody>
        </table>
        <p>Doriti sa adaugati inca o cerere? Apasati <a href="{{ path('app_concediu_new') }}" class="text-blue-400 hover:underline">aici.</a></p>
       </div>
      </div>
     </div>
    </div>

    {% else %}

    <p>{{ app.user.username }}, nu ai niciun concediu disponibil. Poti face o cerere <a href="{{ path('app_concediu_new') }}" class="text-blue-600">aici</a>. </p>

 {% endif %}

{% endblock %}