{% extends 'base.html.twig' %}

{% block title %}Concediile Tale{% endblock %}

{% block body %}

    <style>
        .noHolidays {
            position: absolute;
            left: 35%;
            top: 17%;
        }
    </style>

    {% if concedii %}
        <div class="rounded relative top-5">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        From
                    </th>
                    <th scope="col" class="px-6 py-3">
                        To
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Details
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for concediu in pagination %}
                    {% set queryParams = app.request.query.all %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            {{ concediu.getStartDate|date("d.M.Y") }}
                        </td>
                        <td class="px-6 py-4">
                            {{ concediu.getEndDate|date("d.M.Y") }}
                        </td>
                        <td class="px-6 py-4">
                            {% if concediu.status == 'pending' %}
                                <p>Pending</p>
                            {% elseif concediu.status == 'approved' %}
                                <p class="text-green-400">Approved</p>
                            {% elseif concediu.status == 'denied' %}
                                <p class="text-red-400">Denied</p>
                            {% endif %}
                        </td>
                        <td class="px-6 py-4">
                            {% if concediu.status == 'denied' %}
                                <div class="text-red-400">{{ concediu.getDetails }}</div>
                            {% elseif concediu.status == 'approved' %}
                                <div class="text-green-400">Approved
                                    at {{ concediu.getUpdated|date('d.m.Y H:i:s') }}</div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="dark:text-white text-center bg-white text-gray-500 ml-0 rounded-l-lg leading-tight py-2 px-3 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white">
                {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/sliding.html.twig') }}
            </div>
        </div>
    {% else %}

        <p class="noHolidays">{{ app.user.username }}, you don't have any holiday. You can make a request <a
                    href="{{ path('app_concediu_new') }}" class="text-blue-600">here.</a>. </p>

    {% endif %}

{% endblock %}