{% extends 'base.html.twig' %}

{% block title %}All Users{% endblock %}

{% block body %}
    <h1>All Users</h1>

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Id</th>
                <th scope="col" class="px-6 py-3">Username</th>
                <th scope="col" class="px-6 py-3">Roles</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">{{ user.id }}</td>
                <td class="px-6 py-4">{{ user.username }}</td>
                <td class="px-6 py-4">
                    {% if user.roles and 'ROLE_ADMIN' in user.roles %}
                        Admin
                    {% elseif user.roles and 'ROLE_USER' in user.roles %}
                        User
                    {% else %}
                        No Role
                    {% endif %}
                </td>
                <td class="px-6 py-4">{{ user.email }}</td>
                <td class="px-6 py-4">
                    <a href="{{ path('app_user_crud_edit', {'id': user.id}) }}" class="text-blue-600 hover:underline hover:text-blue-500">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_crud_new') }}" class="inline-block shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Add New User</a>
{% endblock %}
