{% extends 'base.html.twig' %}

{% block title %}Work App | {{ app.user.company.name }}{% endblock %}
{% block body %}
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
          rel="stylesheet"/>

    {% if app.user.company.owner == app.user %}

        <!-- Company Owner Menu -->

        <div class="flex justify-center bg-gray-800 px-4 pt-12 text-center">
            <div class="w-full max-w-screen-md bg-white rounded-xl shadow-lg p-8 text-gray-900">
                <h1 class="border-b pb-4 text-4xl font-semibold">{{ company.name }}</h1>

                <div class="pt-6">
                    {% if app.request.query.get('error') %}
                        <div class="mt-4 text-red-500">{{ app.request.query.get('error') }}</div>
                    {% endif %}

                    <!-- Company Name Change Section -->
                    <div class="flex flex-col items-center">
                        <form action="{{ path('app_company_change_name') }}" method="post" class="w-auto">
                            <label for="company-name" class="block text-center">
                                <div class="relative flex overflow-hidden rounded-md border-2 focus-within:border-blue-600">
                                    <input type="text" name="company-name" required
                                           class="w-full appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                                           placeholder="{{ company.name }}"/>
                                </div>
                            </label>
                            <button type="submit" class="mt-4 w-full rounded-lg bg-blue-600 px-4 py-2 text-white">Change
                                Name
                            </button>
                        </form>
                    </div>

                    <hr class="mt-4 mb-4"/>

                    <!-- Email Section -->
                    <p class="py-2 text-xl font-semibold">Email Address</p>
                    <div class="sm:flex-row sm:items-center sm:justify-between text-center">
                        <p class="text-gray-600">Your email address is: <strong>{{ app.user.email }}</strong></p>
                        <a href="{{ path('app_change_email') }}"
                           class="inline-flex text-sm font-semibold text-blue-600">Change</a>
                    </div>

                    <hr class="mt-4 mb-4"/>

                    <!-- Delete Company Section -->
                    <p class="py-2 text-xl font-semibold">Delete Company</p>
                    <p class="inline-flex items-center rounded-full bg-rose-100 px-4 py-1 text-rose-600">
                        <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20"
                             fill="currentColor">
                            <path fill-rule="evenodd"
                                  d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                  clip-rule="evenodd"></path>
                        </svg>
                        Proceed with caution
                    </p>
                    <p class="mt-2">We will completely wipe your company with all the associated data, like work
                        records, holidays, etc. There is no way to access your company after this action.
                    </p>
                    <form action="{{ path('app_delete_company') }}"
                          method="post"
                          class="ml-auto text-sm font-semibold text-rose-600 underline decoration-2 mt-4"
                          onsubmit="return confirm('Are you sure you want to delete your company?');">
                        <button type="submit" class="btn btn-danger text-rose-600">Delete Company</button>
                    </form>
                </div>
            </div>
        </div>


    {% else %}

        <!-- Company User Menu -->

        <div class="flex justify-center bg-gray-800 px-4 pt-12 text-center">
            <div class="w-full max-w-screen-md bg-white rounded-xl shadow-lg p-8 text-gray-900">
                <h1 class="border-b pb-4 text-4xl font-semibold">{{ company.name }}</h1>

                <div class="pt-6">
                    {% if app.request.query.get('error') %}
                        <div class="mt-4 text-red-500">{{ app.request.query.get('error') }}</div>
                    {% endif %}

                    <p class="py-2 text-xl font-semibold">Owner Email</p>
                    <div class="sm:flex-row sm:items-center sm:justify-between text-center">
                        <p class="text-gray-600">Owner email address is:
                            <strong>{{ app.user.company.owner.email }}</strong>
                        </p>
                    </div>

                    <hr class="mt-4 mb-4"/>

                    <div class="mt-8">
                        <h2 class="py-2 text-xl font-semibold">Leave Company</h2>
                        <p class="inline-flex items-center rounded-full bg-rose-100 px-4 py-1 text-rose-600">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2 h-5 w-5" viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd"
                                      d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                                      clip-rule="evenodd"></path>
                            </svg>
                            Proceed with caution
                        </p>

                        <div class="mt-2">
                            Leave your current company
                            <form action="{{ path('app_leave_company') }}"
                                  method="post"
                                  class="inline-block font-semibold text-rose-600 decoration-2 hover:underline"
                                  onsubmit="return confirm('Are you sure you want to leave the company?');">
                                <button type="submit" class="text-rose-600">here</button>
                            </form>
                            .
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
