{% extends 'base.html.twig' %}

{% block title %}Work App | Track Working Hours{% endblock %}

{% block body %}

    <div class="flex justify-center relative top-3">
        <a href="{{ path('app_pontaj_new') }}"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add
        </a>
        <a href="{{ path('app_pontaj_showAll') }}"
           class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Show All
        </a>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_pontaje_admin') }}"
               class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Admin - Users Records</a>
        {% endif %}
    </div>

    {% if pontaje %}
        <div class="rounded relative top-5">
            <div class="text-green-500">Active records today, {{ date }}:</div>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Day
                    </th>
                    <th scope="col" class="px-6 py-3">
                        From
                    </th>
                    <th scope="col" class="px-6 py-3">
                        To
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Worked Hours
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Details
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Company
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for pontaj in pontaje %}

                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeStart|date("D, d.M.Y") }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeStart|date("H:i") }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.getTimeEnd|date("H:i") }}
                        </td>

                        <td class="px-6 py-4">
                            {% set difference = date(pontaj.getTimeEnd).diff(date(pontaj.getTimeStart)) %}

                            {% if difference|date("%d") %}
                                {{ difference|date("%d") }} days  {{ difference|date("%h") }} hours {{ difference|date("%i") }} minutes
                            {% elseif not difference|date("%h") %}
                                {{ difference|date("%i") }} minutes
                            {% elseif not difference|date("%i") %}
                                {{ difference|date("%h") }} hours
                            {% else %}
                                {{ difference|date("%h") }} hours {{ difference|date("%i") }} minutes
                            {% endif %}
                        </td>

                        <td class="px-6 py-4">
                            {{ pontaj.details }}
                        </td>
                        <td class="px-6 py-4">
                            {{ pontaj.company.name }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ path('app_pontaj_update', {id: pontaj.id}) }}"
                               class="text-blue-600 hover:underline hover:text-blue-500">Modify</a>
                            <br>
                            <a href="{{ path('app_pontaj_delete', {id: pontaj.id}) }}"
                               class="text-red-600 hover:underline hover:text-red-500"
                               onclick="return confirm('Are you sure you want to delete?')">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}

        <p class="dark:text-white flex justify-center relative top-4">Today, {{ date }}, you have no active records.</p>

    {% endif %}

{% endblock %}
