{% extends 'base.html.twig' %}

{% block title %}Pontaje{% endblock %}

{% block body %}

{#    {% if pontaje %}#}

{#<p class="dark:text-blue-500">Pontajele tale: </p>#}

{#<div class="flex flex-col">#}
{#    <div class="sm:-mx-6 lg:-mx-8">#}
{#        <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">#}
{#            <div class="overflow-hidden rounded-lg">#}
{#                <table class="min-w-full bg-white">#}
{#                    <thead class="border-b dark:bg-gray-600">#}
{#                    <tr>#}

{#                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#}
{#                            Ziua#}
{#                        </th>#}

{#                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#}
{#                            De la#}
{#                        </th>#}

{#                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#}
{#                            Pana la#}
{#                        </th>#}

{#                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#}
{#                            Detalii#}
{#                        </th>#}

{#                        <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#}
{#                            Sterge#}
{#                        </th>#}

{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for pontaj in pontaje %}#}
{#                    <tr class="border-b">#}

{#                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">#}
{#                            {{ pontaj.getDate|date("d.M.Y")}}#}
{#                        </td>#}

{#                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">#}
{#                            {{ pontaj.getTimeStart|date("H.i")}}#}
{#                        </td>#}

{#                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">#}
{#                            {{ pontaj.getTimeEnd|date("H.i")}}#}
{#                        </td>#}

{#                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">#}
{#                            {{ pontaj.details }}#}
{#                        </td>#}

{#                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">#}
{#                            <a href="{{ path('app_pontaj_delete', {id: pontaj.id}) }}" class="text-red-600 hover:underline hover:text-red-500" onclick="return confirm('Are you sure you want to delete?')">Delete</a>#}
{#                        </td>#}
{#                    </tr>#}

{#        {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

    <div class="flex justify-center relative top-3">
    <a href="{{ path('app_pontaj_new') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Adăugare pontaj</a>
        <a href="{{ path('app_pontaj_showAll') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Pontajele tale</a>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_pontaje_admin') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Admin - Pontaje Useri</a>
    {% endif %}
    </div>

{% if pontaje %}
    <div class="rounded relative top-5">
        <div class="text-green-500">Pontaje active astăzi, {{ date }}:</div>
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Ziua
                </th>
                <th scope="col" class="px-6 py-3">
                    De la
                </th>
                <th scope="col" class="px-6 py-3">
                    Pana la
                </th>
                <th scope="col" class="px-6 py-3">
                    Ore muncite
                </th>
                <th scope="col" class="px-6 py-3">
                    Detalii
                </th>
                <th scope="col" class="px-6 py-3">
                    Actiuni
                </th>
            </tr>
            </thead>
            <tbody>
            {% for pontaj in pontaje %}

            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{ pontaj.getDate|date("D, d.M.Y") }}
                </td>
                <td class="px-6 py-4">
                    {{ pontaj.getTimeStart|date("H:i")}}
                </td>
                <td class="px-6 py-4">
                    {{ pontaj.getTimeEnd|date("H:i")}}
                </td>

                <td class="px-6 py-4">
                    {% set difference = date(pontaj.getTimeEnd).diff(date(pontaj.getTimeStart)) %}

                    {% if difference|date("%d")%}
                  {{ difference|date("%d")}} zile  {{ difference|date("%h") }} ore {{ difference|date("%i") }} minute
                    {% elseif not difference|date("%h") %}
                        {{ difference|date("%i") }} minute
                        {% elseif not difference|date("%i") %}
                            {{ difference|date("%h") }} ore
                        {% else %}
                            {{ difference|date("%h") }} ore {{ difference|date("%i") }} minute
                        {% endif %}
                </td>

                <td class="px-6 py-4">
                    {{ pontaj.details }}
                </td>
                <td class="px-6 py-4">
                    <a href="{{ path('app_pontaj_update', {id: pontaj.id}) }}" class="text-blue-600 hover:underline hover:text-blue-500">Modifică</a>
                    <br>
                    <a href="{{ path('app_pontaj_delete', {id: pontaj.id}) }}" class="text-red-600 hover:underline hover:text-red-500" onclick="return confirm('Are you sure you want to delete?')">Șterge</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% else %}

    <p class="dark:text-white flex justify-center relative top-4">Astazi, {{ date }}, nu aveti niciun pontaj activ.</p>

    {% endif %}

{% endblock %}
